<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taste Bud Delight - Pasta Bolognese</title>
    <link rel="stylesheet" href="../static/css/item.css">
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="back-button">
            <img src="../static/upload/logo69420.png" alt="Taste Bud Delight Logo">
            <button onclick="history.back()">Back</button>
        </div>
        <div class="logo">
            <h1>TASTE BUD DELIGHT</h1>
        </div>
        <!-- Navigation Buttons -->
        <nav>
            <button>Login</button>
            <button>Favorites</button>
        </nav>
    </header>
    <!-- Main Content -->
    <div class="main-content">
        <h1>Beef Burrito</h1>
        <div class="recipe-content">
            <div class="recipe-item-wide">
                <p> A beef burrito is a flavorful, hearty Mexican dish consisting of a large flour tortilla wrapped around a filling of seasoned beef, rice, beans, and other tasty ingredients. The beef is often ground or shredded and cooked with a blend of spices such as cumin, chili powder, garlic, and paprika, giving it a rich, savory flavor with a slight kick.</p>
            </div>
            <div class="recipe-item-container">
                <div class="recipe-item">
                    <p>Ingredients:</p>
                    <ul class="ingredients">
                        <li>2 tbsp of sunflower oil</li>
                        <li>1 onion, finely chopped</li>
                        <li>4 garlic cloves, very finely chopped</li>
                        <li>1 tbsp of ground cumin</li>
                        <li>1 tbsp of ground coriander</li>
                        <li>Small pinch of cayenne pepper ( add more if you want it spicier)</li>
                        <li>1 tsp of dried oregano</li>
                        <li>A pinch of golden caster sugar</li>
                        <li>200ml beef stock</li>
                        <li>1 tbsp of wine vinegar or cider vinegar</li>
                        <li>400g can of chopped tomatoes</li>
                        <li>400g can of black beans or kidney beans, with the can water</li>
                        <li>8 flour or corn tortillas</li>
                        <li>500g cooked rice, or our Mexican tomato rice</li>
                    </ul>
                </div>
                <div class="recipe-item">
                    <p>Steps:</p>
                    <ol class="steps">
                        <li>Heat the oil in a large pan but a casserole is ideal. Fry the onions for 8 mins, then add the garlic, spices and oregano and cook for 1 min.</li>
                        <li>Crumble over the mince and sizzle for 5 mins, stirring, until browned. </li>
                        <li>Stir in the sugar and leave for a minute, then splash in the vinegar and pour in the tomatoes.</li>
                        <li>Simmer for 5 mins then tip in the beans and the water from the can. Season, stir and simmer everything for 20 mins until the beef is in a thick gravy. </li>
                        <li>The sauce can be prepared up to 2 days ahead, chilled and reheated with a splash of water or frozen for 6 months.</li>
                        <li>To make the burritos, heat the tortillas following pack instructions. </li>
                        <li>Pile some rice and beef sauce along each tortilla and scatter over your choice of topping. </li>
                        <li>Fold over the ends and roll up to seal. Secure by wrapping with foil if you want. Eat immediately.</li>
                        <li>Serve the burritos in plates and enjoy!</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</body>
</html>