<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taste Bud Delight - Cold Food</title>
    <link rel="stylesheet" href="../static/css/category.css">
    </style>
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="back-button">
            <img src="../static/upload/logo69420.png" alt="Taste Bud Delight Logo">
            <button onclick="history.back()">Back</button>
        </div>
        <div class="logo">
            <h1>TASTE BUD DELIGHT</h1>
        </div>
        <!-- Navigation Buttons -->
        <nav>
            <button>Login</button>
            <button>Favorites</button>
        </nav>
    </header>
    <!-- Main Content -->
    <div class="main-content">
        <h1>COLD FOOD</h1>
        <div class="food-items">
            <div class="food-item">
                <img src="../static/upload/salad.png" alt="Delicious Prawn Cocktail Salad">
                <button onclick="location.href='/salad'">Delicious Prawn Cocktail Salad</button>
            </div>
            <div class="food-item">
                <img src="../static/upload/sushi.png" alt="soft homemade sushi">
                <button onclick="location.href='/sushi'">soft homemade sushi</button>
            </div>
            <div class="food-item">
                <img src="../static/upload/burrito.png" alt="simple beef burrito ">
                <button onclick="location.href='/burrito'">simple beef burrito </button>
            </div>
            <div class="food-item">
                <img src="../static/upload/sandwich.png" alt="Grilled ham sandwiches">
                <button onclick="location.href='/sandwich'">Grilled ham sandwiches</button>
            </div>
        </div>
    </div>
</body>
</html>
