<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taste Bud Delight - Pasta Bolognese</title>
    <link rel="stylesheet" href="../static/css/item.css">
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="back-button">
            <img src="../static/upload/logo69420.png" alt="Taste Bud Delight Logo">
            <button onclick="history.back()">Back</button>
        </div>
        <div class="logo">
            <h1>TASTE BUD DELIGHT</h1>
        </div>
        <!-- Navigation Buttons -->
        <nav>
            <button>Login</button>
            <button>Favorites</button>
        </nav>
    </header>
    <!-- Main Content -->
    <div class="main-content">
        <h1>Cookies</h1>
        <div class="recipe-content">
            <div class="recipe-item-wide">
                <p>Cookies are delightful baked treats that come in a variety of shapes, sizes, and flavors. They can range from soft and chewy to crispy and crunchy, often featuring a rich sweetness and a buttery flavor. Classic varieties include chocolate chip, oatmeal raisin, and sugar cookies, each with its unique texture and taste</p>
            </div>
            <div class="recipe-item-container">
                <div class="recipe-item">
                    <p>Ingredients:</p>
                    <ul class="ingredients">
                        <li>3 cups all-purpose flour</li>
                        <li>¾ cup brown sugar</li>
                        <li>2 large eggs</li>
                        <li>1 cup butter, softened</li>
                        <li>1 cup semi-sweet chocolate chips</li>
                    </ul>
                </div>
                <div class="recipe-item">
                    <p>Steps:</p>
                    <ol class="steps">
                        <li>Preheat the oven to 350 degrees F (175 degrees C).</li>
                        <li>Sift flour and brown sugar into a bowl; stir in eggs. </li>
                        <li>Mix butter into flour mixture until dough is creamy; fold in chocolate chips. Spoon</li>
                        <li>Spoon dough onto a baking sheet, keeping them about 3 inches apart.</li>
                        <li>Bake in the preheated oven until slightly brown, 10 to 15 minutes then cool.</li>
                        <li>Serve and enjoy!</li>
                </div>
            </div>
        </div>
    </div>
</body>
</html>