<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taste Bud Delight - Pasta Bolognese</title>
    <link rel="stylesheet" href="../static/css/item.css">
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="back-button">
            <img src="../static/upload/logo69420.png" alt="Taste Bud Delight Logo">
            <button onclick="history.back()">Back</button>
        </div>
        <div class="logo">
            <h1>TASTE BUD DELIGHT</h1>
        </div>
        <!-- Navigation Buttons -->
        <nav>
            <button>Login</button>
            <button>Favorites</button>
        </nav>
    </header>
    <!-- Main Content -->
    <div class="main-content">
        <h1>Vanilla Cupcakes</h1>
        <div class="recipe-content">
            <div class="recipe-item-wide">
                <p>Vanilla cupcakes are delightful, fluffy treats with a light, tender crumb. They typically feature a rich, buttery flavor complemented by the sweetness of vanilla, creating a comforting and classic taste. The batter is often made with simple ingredients like flour, sugar, eggs, butter, and vanilla extract, resulting in a creamy and smooth texture.</p>
            </div>
            <div class="recipe-item-container">
                <div class="recipe-item">
                    <p>Ingredients:</p>
                    <ul class="ingredients">
                        <li>2 1/2 cups (325g) all purpose flour</li>
                        <li>2 cups (414g) sugar</li>
                        <li>3 tsp baking powder (NOT baking soda)</li>
                        <li>1 tsp salt</li>
                        <li>1 cup (240ml) milk</li>
                        <li>1/2 cup (120ml) vegetable oil</li>
                        <li>1 tbsp vanilla extract</li>
                        <li>2 large eggs/li>
                        <li>1 cup (240ml) water</li>
                        <li>Vanilla frosting</li>
                        <li>1 cup (224g) unsalted butter, room temperature</li>
                        <li>4 cups (460g) powdered sugar </li>
                        <li>1 1/2 tsp vanilla extract</li>
                        <li>2 to 3 tbsp (30-45ml) water or milk</li>
                        <li>A pinch of salt</li>
                    </ul>
                </div>
                <div class="recipe-item">
                    <p>Steps:</p>
                    <ol class="steps">
                        <li>Preheat oven to 200°C & prepare 12 paper cupcake cases in patty pans.</li>
                        <li>Cream Butter and White Sugar.</li>
                        <li>Add eggs and mix well. Add vanilla essence.</li>
                        <li>Add Fresh Milk alternatively with Grade Flour and Baking Powder.</li>
                        <li>Spoon evenly into paper cases and bake at 200°C for 15 - 20 minutes.</li>
                        <li>Ice/decorate as desired.</li>
                        <li>Serve and enjoy!</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</body>
</html>