<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taste Bud Delight - Pasta Bolognese</title>
    <link rel="stylesheet" href="../static/css/item.css">
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="back-button">
            <img src="../static/upload/logo69420.png" alt="Taste Bud Delight Logo">
            <button onclick="history.back()">Back</button>
        </div>
        <div class="logo">
            <h1>TASTE BUD DELIGHT</h1>
        </div>
        <!-- Navigation Buttons -->
        <nav>
            <button>Login</button>
            <button>Favorites</button>
        </nav>
    </header>
    <!-- Main Content -->
    <div class="main-content">
        <h1>Boiled Eggs</h1>
        <div class="recipe-content">
            <div class="recipe-item-wide">
                <p>Boiled eggs are a simple yet versatile food, prized for their rich flavor and creamy texture. They are made by cooking eggs in boiling water until the whites are firm and the yolks reach the desired level of doneness, which can vary from soft and runny to hard and fully set.</p>
            </div>
            <div class="recipe-item-container">
                <div class="recipe-item">
                    <p>Ingredients:</p>
                    <ul class="ingredients">
                        <li>2 to 4 large eggs</li>
                        <li>Sea salt</li>
                        <li>Freshly ground black pepper</li>
                    </ul>
                </div>
                <div class="recipe-item">
                    <p>Steps:</p>
                    <ol class="steps">
                        <li>Fill a medium pot with water and heat to a gentle simmer, just below boiling. Using a slotted spoon, carefully lower the eggs into the water and let simmer for 7 minutes (6 minutes for a runnier egg). Set a bowl of ice water nearby.</li>
                        <li>Remove and chill immediately in the ice water for a minute or two until the eggs are cool enough to handle.</li>
                        <li>Tap the bottom of each egg to crack off a little bit of the shell.</li>
                        <li>Take a small spoon and carefully slide it in and around the egg to loosen and remove it from the shell. This takes a little bit of practice to get exactly right. If your first eggs aren’t perfect, it’s ok. They’ll still be delicious!</li>
                        <li>Season eggs with salt and pepper, to taste.</li>
                        <li>Serve and enjoy!</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</body>
</html>