<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taste Bud Delight - Pasta Bolognese</title>
    <link rel="stylesheet" href="../static/css/item.css">
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="back-button">
            <img src="../static/upload/logo69420.png" alt="Taste Bud Delight Logo">
            <button onclick="history.back()">Back</button>
        </div>
        <div class="logo">
            <h1>TASTE BUD DELIGHT</h1>
        </div>
        <!-- Navigation Buttons -->
        <nav>
            <button>Login</button>
            <button>Favorites</button>
        </nav>
    </header>
    <!-- Main Content -->
    <div class="main-content">
        <h1>Custard Fruit Tarts</h1>
        <div class="recipe-content">
            <div class="recipe-item-wide">
                <p>Custard fruit tarts are elegant desserts featuring a crisp, buttery pastry crust filled with smooth, creamy custard. The custard is often made from a blend of milk, cream, sugar, and eggs, thickened to a luscious consistency. Once filled, the tarts are typically topped with an array of fresh fruits, such as berries, kiwi, mango, or citrus slices, which add vibrant colors and refreshing flavors.</p>
            </div>
            <div class="recipe-item-container">
                <div class="recipe-item">
                    <p>Ingredients:</p>
                    <ul class="ingredients">
                        <li>Eggs and egg yolks</li>
                        <li>Sugar amd granulated sugar</li>
                        <li>Cornstarch (to thicken the custard)</li>
                        <li>Salt (fine sea salt)</li>
                        <li>Milk (whole milk)</li>
                        <li>Butter (unsalted and cut into cubes)</li>
                        <li>Vanilla (pure vanilla extract)</li>
                        <li>Raspberries or any fruits you like for topping</li>
                        <li>Apricot to preserve for the glaze</li>
                        <li>Mini tart shells can be store-bought or homemade </li>
                    </ul>
                </div>
                <div class="recipe-item">
                    <p>Steps:</p>
                    <ol class="steps">
                        <li>In a large bowl, combine egg yolks, sugar, cornstarch, and salt. Use a whisk and mix until combined and the sugar is dissolved.</li>
                        <li>Place the milk in the saucepan and heat over medium-low heat for about 5 minutes or until it simmers. Don’t let the milk boil, keep stirring to prevent the milk from overflowing.</li>
                        <li>Slowly add the milk to the egg yolk mixture, about 1/4 cup at a time, and stir constantly. Once all the milk has been added to the egg yolk mixture, place it into the saucepan and cook until it thickens.</li>
                        <li>Transfer the custard to a clean bowl, cover with plastic wrap, and place in the fridge to chill for at least 2 hours. Make sure the plastic wrap touches the surface of the custard. This will help prevent it from forming a skin on top.</li>
                        <li>Fill a decorating bag or ziplock bag with chilled custard. Use a kitchen shears and snip the tip of the bag. Squeeze the bag and fill the tart shell with the custard. Use an offset spatula to smooth the top.</li>
                        <li>Top your mini custard fruit tarts with your favorite fruits. Heat a tablespoon of apricot preserve in a microwave, use a pastry brush, and glaze the top of your fruits. Another option is to use a small strainer and sprinkle mini tarts with powdered sugar.</li>
                        <li>Serve and enjoy!</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</body>
</html>