<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taste Bud Delight - Pasta Bolognese</title>
    <link rel="stylesheet" href="../static/css/item.css">
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="back-button">
            <img src="../static/upload/logo69420.png" alt="Taste Bud Delight Logo">
            <button onclick="history.back()">Back</button>
        </div>
        <div class="logo">
            <h1>TASTE BUD DELIGHT</h1>
        </div>
        <!-- Navigation Buttons -->
        <nav>
            <button>Login</button>
            <button>Favorites</button>
        </nav>
    </header>
    <!-- Main Content -->
    <div class="main-content">
        <h1>Freshly Squeezed Juice</h1>
        <div class="recipe-content">
            <div class="recipe-item-wide">
                <p>Juice is a liquid extracted from fruits, vegetables, or other plants, known for its refreshing taste and vibrant colors. It can range from sweet to tangy, depending on the ingredients. Freshly squeezed juice often has a bright, lively flavor and a natural sweetness, while store-bought varieties might have added sugars or preservatives.</p>
            </div>
            <div class="recipe-item-container">
                <div class="recipe-item">
                    <p>Ingredients:</p>
                    <ul class="ingredients">
                        <li>1 small fennel bulb</li>
                        <li>1 apple, cored and chopped</li>
                        <li>85g frozen blueberries</li>
                        <li>1 tsp lemon juice</li>

                </div>
                <div class="recipe-item">
                    <p>Steps:</p>
                    <ol class="steps">
                        <li>Trim the top and bottom from the fennel bulb and cut into pieces.</li>
                        <li>Put the fennel, apple and frozen blueberries through your juicer following the manufacturers instructions, then stir in the lemon juice and serve immediately.</li>
                        <li>Serve between glasses and enjoy!.</li>

                    </ol>
                </div>
            </div>
        </div>
    </div>
</body>
</html>