<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taste Bud Delight - Pasta Bolognese</title>
    <link rel="stylesheet" href="../static/css/item.css">
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="back-button">
            <img src="../static/upload/logo69420.png" alt="Taste Bud Delight Logo">
            <button onclick="history.back()">Back</button>
        </div>
        <div class="logo">
            <h1>TASTE BUD DELIGHT</h1>
        </div>
        <!-- Navigation Buttons -->
        <nav>
            <button>Login</button>
            <button>Favorites</button>
        </nav>
    </header>
    <!-- Main Content -->
    <div class="main-content">
        <h1>Porridge </h1>
        <div class="recipe-content">
            <div class="recipe-item-wide">
                <p>Porridge is a warm, creamy, and comforting dish made by simmering grains—most commonly oats—in liquid like water or milk until they soften and thicken into a smooth, hearty consistency. It’s often eaten as a breakfast dish, known for its ability to keep you full and energized for a long time.</p>
            </div>
            <div class="recipe-item-container">
                <div class="recipe-item">
                    <p>Ingredients:</p>
                    <ul class="ingredients">                        
                        <li>2 ½ cups water</li>
                        <li>1 cup rolled oats</li>
                        <li>1 tbspn white sugar</li>
                        <li>1 tspn salt</li>
                        <li>2 bananas, sliced</li>
                        <li>1 pinch ground cinnamon</li>
                        <li> ½ cup cold milk (Optional)</li>
                    </ul>
                </div>
                <div class="recipe-item">
                    <p>Steps:</p>
                    <ol class="steps">
                        <li>Combine water, oats, sugar, and salt in a saucepan. Add bananas and cinnamon. Bring to a boil, then reduce heat to low, and simmer until the liquid has been absorbed, stirring frequently.</li>
                        <li>Pour into bowls, and top each with a splash of cold milk.</li>
                        <li>Serve hot and enjoy!</li>
                </div>
            </div>
        </div>
    </div>
</body>
</html>