<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taste Bud Delight - Pasta Bolognese</title>
    <link rel="stylesheet" href="../static/css/item.css">
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="back-button">
            <img src="../static/upload/logo69420.png" alt="Taste Bud Delight Logo">
            <button onclick="history.back()">Back</button>
        </div>
        <div class="logo">
            <h1>TASTE BUD DELIGHT</h1>
        </div>
        <!-- Navigation Buttons -->
        <nav>
            <button>Login</button>
            <button>Favorites</button>
        </nav>
    </header>
    <!-- Main Content -->
    <div class="main-content">
        <h1>Autumn Soup</h1>
        <div class="recipe-content">
            <div class="recipe-item-wide">
                <p>Autumn soup is a cozy, hearty dish made with seasonal ingredients that evoke the essence of fall. It typically includes a variety of root vegetables like butternut squash, sweet potatoes, carrots, and pumpkins, which give the soup a rich, velvety texture and natural sweetness.</p>
            </div>
            <div class="recipe-item-container">
                <div class="recipe-item">
                    <p>Ingredients:</p>
                    <ul class="ingredients">
                        <li>A splash of olive oil</li>
                        <li>1 yellow onion</li>
                        <li>Ground turkey but you can also use ground beef or chicken</li>
                        <li>Garlic powder</li>
                        <li>Oregano</li>
                        <li>Carrots</li>
                        <li>Half of a garlic head</li>
                        <li>Tomato paste</li>
                        <li>Fire roasted diced tomatoes</li>
                        <li>Low sodium chicken stock</li> 
                        <li>Fresh cheese tortellini</li>
                        <li>Coconut milk</li>
                        <li>Spinach </li>
                        <li>One lemon</li>
                        <li>Parmesan cheese</li>
                    </ul>
                </div>
                <div class="recipe-item">
                    <p>Steps:</p>
                    <ol class="steps">
                        <li>Sauté ground turkey, onion, and seasonings, then add carrots and garlic.</li>
                        <li>Add tomato paste, diced tomatoes, and chicken stock. Bring to a boil, then add tortellini and cook for 5-7 minutes.</li>
                        <li>Turn off heat and stir in coconut milk, spinach, lemon juice, and extra salt.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</body>
</html>