<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taste Bud Delight - Pasta Bolognese</title>
    <link rel="stylesheet" href="../static/css/item.css">
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="back-button">
            <img src="../static/upload/logo69420.png" alt="Taste Bud Delight Logo">
            <button onclick="history.back()">Back</button>
        </div>
        <div class="logo">
            <h1>TASTE BUD DELIGHT</h1>
        </div>
        <!-- Navigation Buttons -->
        <nav>
            <button>Login</button>
            <button>Favorites</button>
        </nav>
    </header>
    <!-- Main Content -->
    <div class="main-content">
        <h1>Crispy Nachos</h1>
        <div class="recipe-content">
            <div class="recipe-item-wide">
                <p>Nachos are a beloved Mexican-inspired snack or appetizer, consisting of crispy tortilla chips topped with a variety of savory ingredients. At the heart of the dish are the tortilla chips, which are typically made from corn and either fried or baked to a golden crisp. These chips form the base, ready to be loaded with flavorful toppings</p>
            </div>
            <div class="recipe-item-container">
                <div class="recipe-item">
                    <p>Ingredients:</p>
                    <ul class="ingredients">                        
                        <li>500g lean beef or lamb mince</li>
                        <li>420g can Wattie's Mild Chilli Beans</li>
                        <li>400g can Wattie's Mexican-style Tomatoes</li>
                        <li>Corn chips</li>
                        <li>1 cup grated Edam cheese</li>
                        <li>½ cup lite sour cream (optional)</li>
                        <li>1 Tbsp chopped spring onions (optional)</li>
                    </ul>
                </div>
                <div class="recipe-item">
                    <p>Steps:</p>
                    <ol class="steps">
                        <li>In a non-stick pan heat a dash of oil and brown mince in batches.</li>
                        <li>Return mince to the pan, add Wattie's Mild Chilli Beans and Wattie's Mexican-style Tomatoes and simmer for 5 minutes.</li>
                        <li>Place corn chips in individual bowls, spoon in the mince and sprinkle with cheese. Top with sour cream and chopped spring onions (if desired).</li>
                        <li>Serve with green salad and enjoy!</li>
                </div>
            </div>
        </div>
    </div>
</body>
</html>