<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taste Bud Delight - Pasta Bolognese</title>
    <link rel="stylesheet" href="../static/css/item.css">
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="back-button">
            <img src="../static/upload/logo69420.png" alt="Taste Bud Delight Logo">
            <button onclick="history.back()">Back</button>
        </div>
        <div class="logo">
            <h1>TASTE BUD DELIGHT</h1>
        </div>
        <!-- Navigation Buttons -->
        <nav>
            <button>Login</button>
            <button>Favorites</button>
        </nav>
    </header>
    <!-- Main Content -->
    <div class="main-content">
        <h1>Waffles</h1>
        <div class="recipe-content">
            <div class="recipe-item-wide">
                <p>Waffles are delightful breakfast treats known for their crispy exterior and soft, fluffy interior. Made from a batter typically containing flour, eggs, milk, sugar, and baking powder, they are cooked in a waffle iron, which gives them their distinctive grid pattern.</p>
            </div>
            <div class="recipe-item-container">
                <div class="recipe-item">
                    <p>Ingredients:</p>
                    <ul class="ingredients">                        
                        <li>2 cups all-purpose flour</li>
                        <li>4 tsp baking powder</li>
                        <li>2 tbsps white sugar</li>
                        <li>2 large eggs</li>
                        <li>1 ½ cups warm milk</li>
                        <li>⅓ cup butter, melted</li>
                        <li>1 teaspoon vanilla extract</li>
                    </ul>
                </div>
                <div class="recipe-item">
                    <p>Steps:</p>
                    <ol class="steps">
                        <li>Mix flour, salt, baking powder, and sugar together in a large bowl; set aside. Preheat waffle iron to desired temperature.</li>
                        <li>Beat eggs in a separate bowl; stir in milk, butter, and vanilla.</li>
                        <li>Pour milk mixture into flour mixture; beat until blended.</li>
                        <li>Ladle batter into a preheated waffle iron.</li>
                        <li>Cook waffles until golden and crisp.</li>
                        <li>Serve immediately and enjoy!</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</body>
</html>